body {
    background-color: #4db3e2;
    color: white;
    font-family: "Itim", cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    margin: 0;
}

button {
    background-color: #ff89d8;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
}

.passo {
    display: none;

}

.passo.ativo {
    display:block;
}

main {
    text-align: center;
    max-width: 90%;
}

img{
    max-width: 100%;
}